    html, body {
        width: 100%;
        margin: 0;
        padding: 0;
        font-family: 'Oswald', sans-serif;
        background-color: #fff3e6;
        font-size:16px;
    }

    div.main {
        margin-top: 60px;
        z-index:0;
    }

    div.padded {
        padding-top: 0px;
        padding-right: 200px;
        padding-bottom: 0.25in;
        padding-left: 200px;
    }

    img.three {
        width: 330px;
    }

    img.two {
        width: 400px;
    }
    #proj {
        margin-left:10%;
    }


    .navbar {
        overflow: hidden;
        background-color: #61d2ff;
        position: fixed; 
        /* top: 0; Position the navbar at the top of the page */
        width: 100%; /* Full width */
        float: left;
        
        
    }

    
    .navbar a:first-child {
        font-family: 'Amatic SC', cursive;
        font-size: 2em;
        color: white;
        text-align: center;
        padding:5.5px 45px 14px 45px ;
        /* top:0; */
        text-decoration: none;
        margin-left:10%;
        /* display: inline-block; */
        /* vertical-align:middle; */
        
    }

    .navbar .dropdown a {
        margin-right:23%;
        float:right;
        font-family: 'Oswald', sans-serif;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        /* display: inline-block; */
        font-size:16px;
        /* vertical-align:middle; */
    }

    .navbar a {
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        /* display: inline; */
    }

    .navbar a:hover:not(.active) {
        background-color: #4dccff;
    }

    .active {
        background-color: #00a4e6;
    }

    h1, h2, h3 {
        font-family: 'Amatic SC', cursive;
        font-weight: bold;
    
    }

    h1 {
        font-size:4em;
    }

    h2 {
        font-size:3em;
    }

    h3 {
        font-size:2em;
    }
    
    h4 {
        font-size:1.25em;
    }

    p {
        font-size:1em;
    }

    td {
        padding: 10px;
    }

    a {
        text-decoration: none; 
        color:#888888;

    }
    
    a:hover :not(.linklist){
        text-decoration:none;
        background-color: #ffe6cc; 
        
    }

    a:visited {
        text-decoration: none;
    }

    #sidenav a {
        position:fixed;
        right:-180px;
        transition:0.3s;
        padding:15px;
        width:200px;
        text-decoration:none;
        font-size:20px;
        color:white;
        border-radius:5px 0 0 5px;

    }

    #sidenav a:hover {
        right:0;
    }

    #dod {
        top:5em;
        background-color: #ff9c33;
    }

    #smoke {
        top:7.5em;
        background-color: #ffa94d;

    }

    #lunch {
        top:10em;
        background-color: #ffb566;

    }

    #opioid {
        top:12.5em;
        background-color: #ffc180;

    }

    #roll {
        top:15em;
        background-color: #ffce99;

    }

    #engineer {
        top:17.5em;
        background-color:#ffdab3;

    }

    #sidenav2 a {
        position:fixed;
        right:-130px;
        transition:0.3s;
        padding:15px;
        width:150px;
        text-decoration:none;
        font-size:20px;
        color:white;
        border-radius:5px 0 0 5px;
    }

    #edu {
        top:5em;
        background-color: #ffa94d;
    }

    #cour {
        top:7.5em;
        background-color: #ffc180;
    }

    #ec { 
        top:10em;
        background-color: #ffdab3;
    }

    .page-title {
        margin: auto;
        width:95%;
        padding-top:3em;
        padding-bottom:3em;
        
    }
    
    .page-title h1 {
        margin-left:10%;
    }

    
    .content-title {
        background-color: #ffc180;
    }

    .content-title p {
        color: #555555;
        padding-left:-100px;
        display: inline;
        margin-top: 100px;
    }

    .content-title h3 {
        margin-top: 100px;
        margin-left: 30px;
        display: inline;
    }

    .project1 {
        margin:auto;
        width:820px;
        padding-top:60px;
        padding-bottom:60px;
    }

    .project1 hr {
        color:#555555;
    }

    .project1 p {
        text-align:justify;
        margin-left:30px;
        margin-right:30px;
    }
    
    .content {
        margin-top:30px;
        margin-bottom:30px;
        

    }
    
    .content ul {
        display:inline;
        text-decoration:none;
        list-style-type:none;
        overflow:hidden;
        

    }

    .content li {
        text-decoration:none;
        float:left;
        text-align:justify;
        
    }

    .content p {
        margin-left:50px;
        margin-right:50px;
    }

   
    .content h4 {
        margin-left: 30px;
        

    }

    .content ul li a {
        text-decoration:inherit;
        color:black;
    }

    li.location {
        display:inline;
        color:#555555; 
        float:right;
        margin-right:30px;

    }
    .content ul li h4 {
        margin-left: 30px;
        display: inline;
    }

    ul.project1 li {
        text-decoration:none;

    }

    table.courses {
        table-layout:fixed;
        width:90%;
        border-collapse:collapse;
    }

    table.courses td {
        text-align:left;
        padding-top:10px;
        padding-bottom:10px;
    }

    table.courses th {
        text-align:left;
        background-color: #ffce99;
        padding-left:10px;
    }

    table.courses tr:nth-child(even) {
        background-color:#ffe6cc;
    }

    
    
    


    ul.linklist1 {
        display:inline;
        
    }
    ul.linklist1 li{
        display:inline;
        text-decoration: none;
        /* border-radius:5px; */
        text-align:middle;
        /* border:1px solid #555555; */
        padding: 10px 14px 10px 14px;
        margin: 10px 12px 10px 12px
    }
    
    ul.linklist1 a {
        color: #555555;
        text-decoration: none;
    }

    ul.linklist {
        display:inline;
        
    }
    ul.linklist li{
        display:inline;
        text-decoration: none;
        border-radius:5px;
        text-align:middle;
        border:1px solid #555555;
        padding: 10px 14px 10px 14px;
        margin: 10px 12px 10px 12px
    }
    
    ul.linklist a {
        color: #555555;
        text-decoration: none;
        background-color:none;
    }

    ul.linklist a:hover {
        background-color: none;
        text-decoration:none;
    }

    ul.linklist li:hover {
        background-color:#cccccc;
        text-decoration:none;
    }

    .dropdown {
        float: right;
        overflow:hidden;

    }

    .dropdown .dropbtn {
        margin-right: 350px;
        cursor: pointer;
        font-size: 16px;  
        border: none;
        outline: none;
        color: white;
        padding: 14px 16px;
        background-color: inherit;
        font-family: inherit;
        

    }

    .navbar a:hover, .dropdown:hover .dropbtn {
        background-color: #00a4e6;
    }
    
    .dropdown-content {
        display: none;
        position:fixed;
        top:50px;
        min-width:300px;
        z-index: 1;
        float:right;


    }

    .show {
        display:block;
    }

    .collapsible {
        width:90%;
        background-color: #ffce99;
        cursor:pointer;
        padding:10px;
        border:none;
        text-align:middle;
        outline:none;
        font-size:16px;
        margin-bottom:none;
        padding-bottom:none;
        font-family:inherit;
    }

    .collapsible:hover {
        background-color:#ffc180;

    }

    .other {
        margin-top:none;
        padding-top:none;
        overflow: hidden;
        display:none;
    }
    