    html, body {
        width: 100%;
        margin: 0;
        padding: 0;
        font-family: 'Oswald', sans-serif;
        background-color: #fff3e6;
        font-size:16px;
    }

    div.main {
        margin-top: 60px;
        z-index:0;
    }

    div.padded {
        padding-top: 0px;
        padding-right: 200px;
        padding-bottom: 0.25in;
        padding-left: 200px;
    }

    img.three {
        width: 330px;
    }

    img.two {
        width: 400px;
    }
    #proj {
        margin-left:150px;
    }


    .navbar {
        overflow: hidden;
        background-color: #61d2ff;
        position: fixed; 
        /* top: 0; Position the navbar at the top of the page */
        width: 100%; /* Full width */
        float: left;
        
        
    }

    
    .navbar a:first-child {
        font-family: 'Amatic SC', cursive;
        font-size: 2em;
        color: white;
        text-align: center;
        padding:5.5px 45px 14px 45px ;
        /* top:0; */
        text-decoration: none;
        margin-left:150px;
        /* display: inline-block; */
        /* vertical-align:middle; */
        
    }

    .navbar .dropdown a {
        margin-right:150px;
        float:right;
        font-family: 'Oswald', sans-serif;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        /* display: inline-block; */
        font-size:16px;
        /* vertical-align:middle; */
    }

    .navbar a {
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        /* display: inline; */
    }

    .navbar a:hover:not(.active) {
        background-color: #4dccff;
    }

    .active {
        background-color: #00a4e6;
    }

    h1, h2, h3 {
        font-family: 'Amatic SC', cursive;
        font-weight: bold;
    
    }

    h1 {
        font-size:4em;
    }

    h2 {
        font-size:3em;
    }

    h3 {
        font-size:2em;
    }

    td {
        padding: 10px;
    }

    #sidenav a {
        position:fixed;
        right:-180px;
        transition:0.3s;
        padding:15px;
        width:200px;
        text-decoration:none;
        font-size:20px;
        color:white;
        border-radius:5px 0 0 5px;

    }

    #sidenav a:hover {
        right:0;
    }

    #dod {
        top:5em;
        background-color: #ff9c33;
    }

    #smoke {
        top:7.5em;
        background-color: #ffa94d;

    }

    #lunch {
        top:10em;
        background-color: #ffb566;

    }

    #opioid {
        top:12.5em;
        background-color: #ffc180;

    }

    #roll {
        top:15em;
        background-color: #ffce99;

    }

    #engineer {
        top:17.5em;
        background-color:#ffdab3;

    }

    .page-title {
        margin: auto;
        width:95%;
        padding-top:3em;
        
    }
    .page-title h1 {
        margin-left:150px;
    }

    .content-title {
        background-color: #ffc180;
    }

    .content-title p {
        color: #555555;
        margin-left: 30px;
        display: inline;
        margin-top: 100px;
    }

    .content-title h3 {
        margin-top: 100px;
        margin-left: 30px;
        margin-right:30px;
        display: inline;
    }

    .project1 {
        
        margin:auto;
        width:60%;
        padding-top:60px;
        padding-bottom:60px;
    }

    .project1 hr {
        color:#555555;
    }

    .project1 p {
        text-align:justify;
        margin-left:30px;
        margin-right:30px;
    }

    ul.linklist1 {
        display:inline;
        
    }
    ul.linklist1 li{
        display:inline;
        text-decoration: none;
        /* border-radius:5px; */
        text-align:middle;
        /* border:1px solid #555555; */
        padding: 10px 14px 10px 14px;
        margin: 10px 12px 0 12px
    }
    
    ul.linklist1 a {
        color: #555555;
        text-decoration: none;
    }
    ul.linklist {
        display:inline;
        
    }
    ul.linklist li{
        display:inline;
        text-decoration: none;
        border-radius:5px;
        text-align:middle;
        border:1px solid #555555;
        padding: 10px 14px 10px 14px;
        margin: 10px 12px 0 12px
    }
    
    ul.linklist a {
        color: #555555;
        text-decoration: none;
    }

    ul.linklist li:hover {
        background-color:#cccccc;
    }

    .dropdown {
        float: right;
        overflow:hidden;

    }

    .dropdown .dropbtn {
        margin-right:350px;
        cursor: pointer;
        font-size: 16px;  
        border: none;
        outline: none;
        color: white;
        padding: 14px 16px;
        background-color: inherit;
        font-family: inherit;
        

    }

    .dropdown:hover .dropbtn, .dropbtn:focus {
        background-color: #00a4e6;
    }
    
    .dropdown-content {
        display: none;
        position:fixed;
        top:50px;
        min-width:300px;
        z-index: 1;
        float:right;


    }

    .show {
        display:block;
    }

    